body {
	color:white; 
	background: url("../images/tractor.jpg") no-repeat;
}

div#container {
	background-color: black;
	width: 420px; 
	float: left;
	padding: 15px;
	border-bottom-right-radius: 20px;
    }

    h1 {
    font-family: 'Raleway', sans-serif;
	background-color: #black;
	color: white;
	border-radius: 5px;
	}

	h2 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	background-color: #35C0F2;
	color: black;
	border-radius: 5px;
	}

	a {
		color: #35C0F2;
		text-decoration: none;
	}

