body {
	color:white; 
	/*background: url("../images/wexuslogo.jpg") no-repeat;*/
	background: url("../images/tractor.jpg") no-repeat center center;
	background-size: cover;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

div#container {
	background-color: black;
	width: 420px; 
	float: left;
	padding: 15px;
	border-bottom-right-radius: 20px;
    }

	h2 {
	background-color: #35C0F2;
	color: black;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-style: italic;

	}

	a {
		color: #35C0F2;
		text-decoration: none;
	}

